/*
Source - https://stackoverflow.com/a
Posted by rozsazoltan
Retrieved 2025-11-15, License - CC BY-SA 4.0
*/
@import "tailwindcss";
label.required::after {
    content: " *";
    color: #ef4444; /* Tailwind red-500 */
}
